{"openapi":"3.0.0","info":{"title":"Luminaries API","description":"\n## Overview\nThis is the alpha release of the Luminaries AI API. The API is subject to change and may have sparse documentation in places.\nAny changes will be made with notice and coordination from the Luminaries team but may be made on faster timelines than is typical for a production API.\n\n## Authentication\nThe API is authenticated via Basic auth where a Client ID + Secret Key pair in the format \"[CLIENT ID]:[SECRET KEY]\" is base64 encoded in the authorization header. If you do not already have a pair you can get started by sending a request to [help@luminaries.ai](mailto:help@luminaries.ai).\n<SecurityDefinitions />\n    ","version":"0.0.1","contact":{"email":"help@luminaries.ai"},"x-logo":{"url":"https://www.luminaries.ai/logo.svg","altText":"Luminaries AI Logo"}},"tags":[{"name":"Conversations","description":"A conversation represents a thread between a person and a bot. Message history is automatically tracked for so only the new message has to be provided for response"}],"servers":[{"url":"https://api.luminaries.ai","description":"prod"}],"components":{"securitySchemes":{"apiKey":{"name":"Authorization","in":"header","type":"apiKey"}},"schemas":{"Bot":{"type":"object","properties":{"id":{"format":"uuid","type":"string"},"name":{"description":"The name of the bot","type":"string"},"flowId":{"format":"uuid","type":"string"}},"required":["id","name"]},"MessageEvent":{"type":"object","properties":{"id":{"type":"string"},"messageId":{"type":"string"},"conversationId":{"type":"string"},"data":{}},"required":["id","messageId","conversationId","data"]},"AssignToSeries":{"type":"object","properties":{"seriesId":{"type":"string"},"overrideExistingSeries":{"default":false,"type":"boolean"}},"required":["seriesId"]},"ConversationSeriesInformation":{"type":"object","properties":{"series":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"organizationId":{"type":"string"},"criteria":{},"name":{"type":"string"},"personaId":{"type":"string"},"description":{"type":"string"}},"required":["id","createdAt","updatedAt","organizationId","criteria","name","personaId"]},"seriesSteps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"configuration":{},"context":{"type":"object","patternProperties":{"^(.*)$":{"anyOf":[{"type":"string"},{"type":"boolean"},{"type":"number"}]}}},"description":{"type":"string"},"engagementSeriesId":{"type":"string"},"executionGraphId":{"type":"string"},"name":{"type":"string"},"position":{"anyOf":[{"type":"integer"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","configuration","context","engagementSeriesId","executionGraphId","name","position"]}},"conversationSteps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"engagementSeriesStepId":{"type":"string"},"engagementSeriesId":{"type":"string"},"messageId":{"type":"string"},"repetition":{"anyOf":[{"type":"integer"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","engagementSeriesStepId","engagementSeriesId","repetition"]}},"currentStep":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"engagementSeriesStepId":{"type":"string"},"engagementSeriesId":{"type":"string"},"messageId":{"type":"string"},"repetition":{"anyOf":[{"type":"integer"},{"type":"null"}]}},"required":["id","createdAt","updatedAt","engagementSeriesStepId","engagementSeriesId","repetition"]}},"required":["series","seriesSteps","conversationSteps"]},"Conversation":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"userId":{"type":"string"},"organizationId":{"type":"string"},"hidden":{"type":"boolean"},"summary":{"type":"string"},"type":{"type":"string"},"uniqueKey":{"type":"string"},"executionGraphId":{"type":"string"},"executionGraphVersionId":{"type":"string"}},"required":["id","createdAt","updatedAt","userId","organizationId","hidden","summary","type","uniqueKey","executionGraphId","executionGraphVersionId"]},"Function":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"description":{"type":"string"},"inputSchema":{},"outputSchema":{}},"required":["name","id","description","inputSchema"]},"PersonGroupMembership":{"type":"object","properties":{"id":{"type":"string"},"personId":{"type":"string"},"personGroupId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","personId","personGroupId","createdAt","updatedAt"]},"Organization":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"id":{"type":"string"},"name":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"},"logoUrl":{"type":"string"},"externalId":{"type":"string"}},"required":["createdAt","id","name","updatedAt","logoUrl","externalId"]},"PersonChannel":{"type":"object","properties":{"id":{"type":"string"},"personId":{"type":"string"},"channelId":{"type":"string"},"channelType":{"type":"string"}},"required":["id","personId","channelId","channelType"]},"ContentExtraction":{"type":"object","properties":{"contentExtractionJobId":{"type":["string","null"]},"contentGroupId":{"type":"string"},"contentId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"embeddingText":{"type":"string"},"id":{"type":"string"},"metadata":{"type":"object","nullable":true},"parentId":{"type":"string","nullable":true},"recencyDate":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"updatedAt":{"type":"string","nullable":true}},"required":["contentExtractionJobId","contentGroupId","contentId","createdAt","embeddingText","id","metadata","parentId","recencyDate","type"]},"CreateContentExtractionInput":{"type":"object","properties":{"contentExtractionJobId":{"type":"string"},"contentGroupId":{"type":"string"},"contentId":{"type":"string"},"embeddingText":{"type":"string"},"metadata":{"type":"object","nullable":true},"parentId":{"type":"string","nullable":true},"recencyDate":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"required":["contentExtractionJobId","contentGroupId","contentId","embeddingText","metadata","parentId","recencyDate","type"]},"ContentExtractionJob":{"type":"object","properties":{"contentId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"id":{"type":"string"},"status":{"type":"string","enum":["pending","processing","done","failed","pending","processing","complete","failed"]},"updatedAt":{"type":"string","format":"date-time"},"organizationId":{"type":"string"}},"required":["contentId","createdAt","id","status","updatedAt","organizationId","id","organizationId","contentId","createdAt","updatedAt","status"]},"UpdateExtractionJob":{"type":"object","properties":{"status":{"type":"string"}},"required":["status"]},"Trigger":{"type":"object","required":["id","name","type","outputSchema"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["trigger"]},"outputSchema":{"type":"object"}}},"Transformation":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"description":{"type":"string"},"inputSchema":{},"outputSchema":{},"parametersSchema":{}},"required":["name","id","description","outputSchema"]},"CreateContentExtractionJob":{"type":"object","properties":{"contentId":{"type":"string"}},"required":["contentId"]},"UpdateContent":{"type":"object","properties":{"bucket":{"type":"string"},"path":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"recencyDate":{"type":"string"}}},"ContentGroup":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"organizationId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}},"required":["id","name","organizationId","createdAt","updatedAt"]},"ContentGroupCreate":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"Content":{"type":"object","properties":{"bucket":{"type":"string"},"path":{"type":"string"},"type":{"oneOf":[{"type":"string"},{"type":"string","enum":["video","audio","deepgram-transcript"]}]},"name":{"type":"string"},"contentGroupId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"contentType":{"type":"string"},"description":{"type":"string"},"organizationId":{"type":"string"},"id":{"type":"string"},"recencyDate":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","nullable":true}},"required":["bucket","path","type","name","contentGroupId","createdAt","contentType","description","organizationId","id","recencyDate","updatedAt"]},"ContentCreate":{"type":"object","properties":{"bucket":{"type":"string"},"path":{"type":"string"},"type":{"oneOf":[{"type":"string"},{"type":"string","enum":["video","audio","deepgram-transcript"]}]},"name":{"type":"string"},"contentGroupId":{"type":"string"},"contentType":{"type":"string"},"description":{"type":"string"},"organizationId":{"type":"string"},"recencyDate":{"type":"string","nullable":true},"updatedAt":{"type":"string","nullable":true}},"required":["bucket","path","type","name","contentGroupId","contentType","description","organizationId","recencyDate","updatedAt"]},"EngagementSeries":{"type":"object","properties":{"id":{"format":"uuid","type":"string"},"createdAt":{"format":"date-time","type":"string"},"updatedAt":{"format":"date-time","type":"string"},"organzationId":{"format":"uuid","type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"botId":{"format":"uuid","type":"string"}},"required":["id","createdAt","updatedAt","organzationId","name","description","botId"]},"EngagementSeriesCreateInput":{"type":"object","properties":{"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"botId":{"format":"uuid","type":"string"}},"required":["name","description","botId"]},"FlowExecutionState":{"type":"object","required":["id","executionGraphId","executionGraphIdVersion","graphExecutionId","identifier","type","state"],"properties":{"id":{"type":"string"},"executionGraphId":{"type":"string"},"executionGraphIdVersion":{"type":"string"},"graphExecutionId":{"type":"string"},"identifier":{"type":"string"},"type":{"type":"string"},"state":{"type":"object"},"createdAt":{"type":"string"}}},"FlowExecution":{"type":"object","required":["id","executionGraphId","executionGraphIdVersion","input","status"],"properties":{"id":{"type":"string"},"executionGraphId":{"type":"string"},"executionGraphIdVersion":{"type":"string"},"input":{"type":"object"},"status":{"type":"string"},"createdAt":{"type":"string"}}},"FlowVersion":{"type":"object","required":["id","executionGraphId","graph"],"properties":{"graph":{"type":"object"},"id":{"type":"string"},"description":{"type":"string"},"executionGraphId":{"type":"string"},"createdAt":{"type":"string","format":"date"},"updatedAt":{"type":"string"},"status":{"type":"string"}},"additionalProperties":false},"Flow":{"type":"object","required":["id","organizationId","version"],"properties":{"graph":{"type":"object"},"id":{"type":"string"},"organizationId":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"version":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}},"additionalProperties":false},"PersonGroup":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"name":{"type":"string"},"description":{"type":"string"},"organizationId":{"type":"string"}},"required":["id","createdAt","updatedAt","name","description","organizationId"]},"CreatePersonGroupInput":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"PersonRecord":{"type":"object","properties":{"data":{"type":"object","additionalProperties":{}},"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"personId":{"type":"string"},"organizationId":{"type":"string"},"personRecordSchemaId":{"type":"string"}},"required":["data","id","createdAt","updatedAt","personId","organizationId","personRecordSchemaId"]},"PersonRecordSchema":{"type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"id":{"type":"string"},"description":{"type":"string"},"name":{"type":"string"},"organizationId":{"type":"string"},"schema":{"type":"object","properties":{"schema":{"type":"object","properties":{"type":{"type":"string","enum":["object"]},"fields":{"type":"object","additionalProperties":{"type":"object","properties":{"type":{"type":"string","enum":["field"]},"fieldType":{"oneOf":[{"type":"string","enum":["string"]},{"type":"string","enum":["number"]},{"type":"string","enum":["date"]},{"type":"string","enum":["boolean"]},{"type":"array","items":{"type":"string"}}]},"description":{"type":"string"},"optional":{"type":"boolean"}},"required":["type","fieldType"]}},"description":{"type":"string"},"optional":{"type":"boolean"}},"required":["type","fields"]},"unique_id":{"type":"array","items":{"type":"string"}}},"required":["schema","unique_id"]}},"required":["createdAt","id","description","name","organizationId","schema"]},"Person":{"type":"object","properties":{"id":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"givenName":{"type":"string"},"familyName":{"type":"string"},"externalId":{"type":"string"},"organizationId":{"type":"string"}},"required":["id","createdAt","updatedAt","givenName","familyName","externalId","organizationId"]},"CreatePersonInput":{"type":"object","properties":{"givenName":{"type":"string"},"familyName":{"type":"string"},"externalId":{"type":"string"}},"required":["givenName","familyName","externalId"]},"Secret":{"type":"object","required":["id","name","value","organizationId"],"properties":{"id":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"},"organizationId":{"type":"string"}}},"Message":{"type":"object","properties":{"id":{"format":"uuid","description":"The unique identifier for the message","type":"string"},"content":{"description":"The message content","type":"string"},"userId":{"type":"string"},"userType":{"enum":["person","bot"],"type":"string"},"includeInHistory":{"type":"boolean"},"organizationId":{"type":"string"},"createdAt":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}]},"respondedAt":{"anyOf":[{"format":"date-time","type":"string"},{"type":"null"}]},"status":{"enum":["pending","content_in_progress","in_progress","content_streaming","content_failed","content_completed","completed","received","sending_queued","sending_in_progress","sending_failed","sending_complete","receiver_unsubscribed"],"type":"string"}},"required":["id","content","userId","userType","includeInHistory","organizationId","createdAt","respondedAt","status"]},"CreateMessageInput":{"type":"object","properties":{"content":{"title":"Message","description":"The message content","type":"string"},"context":{"title":"Context","description":"A key value map of context to be used for the message. This can be helpful for signaling to the bot specific things about the interaction with the user. Maybe the user is on a particular page of a site, interacting with specific content or in the middle of a particular action within your system","type":"object","patternProperties":{"^(.*)$":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"}]}}},"userType":{"enum":["person","bot"],"title":"User Type","description":"The type of user the message will be created for. If userType is `person`, the message will be created for a the given person, and the response will be given back based on the `response` field. For `bot` messages, these are simply added to the conversation, allowing the user to respond to them if necessary.","type":"string"},"includeInHistory":{"title":"Include in Conversation History","default":true,"description":"Can only be set for bot messages. If set to false, the bot will not take this message into account for future responses.","type":"boolean"},"response":{"enum":["async","sync","skip"],"default":"async","title":"Response Configuration","description":"By default responses are generated asynchronously and the response can be streamed via the /messages/{id}/stream endpoint. If you want to skip the response, you can set this to 'skip'. If you want the response to be generated synchronously, you can set this to 'sync'","type":"string"}},"required":["content","context","userType"]},"CreateStreamingMessageInput":{"type":"object","properties":{"content":{"title":"Message","description":"The users message content","type":"string"},"context":{"title":"Context","description":"A key value map of context to be used for the message. This can be helpful for signaling to the bot specific things about the interaction with the user. Maybe the user is on a particular page of a site, interacting with specific content or in the middle of a particular action within your system","type":"object","patternProperties":{"^(.*)$":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"}]}}}},"required":["content","context"]}},"requestBodies":{"AssignToSeries":{"content":{"application/json":{"schema":{"type":"object","properties":{"seriesId":{"type":"string"},"overrideExistingSeries":{"default":false,"type":"boolean"}},"required":["seriesId"]}}}},"AddPersonsToGroupRequest":{"content":{"application/json":{"schema":{"type":"object","properties":{"personIds":{"type":"array","items":{"type":"string"}}}}}}},"AddPersonsToToGroupRequest":{"content":{"application/json":{"schema":{"type":"object","properties":{"personIds":{"type":"array","items":{"type":"string"}}}}}}}},"responses":{"GetPersonGroupsResponse":{"description":"Successfully created a new person group","content":{"application/json":{"schema":{"type":"object","required":["results"],"properties":{"results":{"type":"array","items":{"type":"object","required":["membership","group"],"properties":{"membership":{"$ref":"#/components/schemas/PersonGroupMembership"},"group":{"$ref":"#/components/schemas/PersonGroup"}}}},"continuationToken":{"type":"string"}}}}}}}},"paths":{"/api/v2/bots":{"get":{"tags":["Bots"],"operationId":"getOrganizationBots","description":"Get the bots available for the organization identified by your token","responses":{"200":{"description":"test","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Bot"}}}}}},"security":[{"apiKey":[]}]}},"/api/v2/conversations/{conversationId}/messages/{messageId}/events":{"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/conversations/{conversationId}/messages/{messageId}/send":{"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/conversations/{conversationId}/messages/{messageId}":{"get":{"tags":["Conversations"],"operationId":"getMessage","description":"Get a single message","responses":{"200":{"description":"test","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Message"}}}}},"security":[{"apiKey":[]}]},"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"messageId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/conversations/{conversationId}/series":{"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/conversations/{conversationId}/series/{conversationSeriesId}/force-send":{"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"conversationSeriesId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/conversations/{conversationId}":{"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/flow-executions/{executionId}":{"parameters":[{"name":"executionId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/flows/{flowId}/versions/{versionId}":{"parameters":[{"name":"flowId","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/flows/{flowId}/versions/{versionId}/publish":{"parameters":[{"name":"flowId","in":"path","required":true,"schema":{"type":"string"}},{"name":"versionId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/flows/{flowId}":{"parameters":[{"name":"flowId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/functions":{},"/api/v2/hacks/rri-next-lead":{},"/api/v2/person-groups/{groupId}/add-people":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/organizations":{},"/api/v2/person-groups/{groupId}/remove-people":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/person-groups/{groupId}":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/person-records/{recordId}":{"parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/person-record-schemas/{schemaId}":{"parameters":[{"name":"schemaId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/persons/{personId}/channels":{"parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/secrets/{secretId}":{"parameters":[{"name":"secretId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/secrets/{secretId}/decrypted-value":{"parameters":[{"name":"secretId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/persons/{personId}":{"parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/content-groups/{groupId}/content/{contentId}/extractions":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"contentId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/content-groups/{groupId}/content/{contentId}/jobs/{jobId}":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"contentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/triggers":{},"/api/v2/transformations":{},"/api/v2/content-groups/{groupId}/content/{contentId}/jobs/{jobId}/retry":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"contentId","in":"path","required":true,"schema":{"type":"string"}},{"name":"jobId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/content-groups/{groupId}/content/{contentId}/jobs":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"contentId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/content-groups/{groupId}/content/{contentId}":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"contentId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/content-groups/{groupId}/search":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/content-groups":{},"/api/v2/content-groups/{groupId}/content":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/conversations":{"get":{"description":"List conversations for an organization","tags":["Conversations"],"parameters":[{"name":"continuationToken","description":"The continuationToken is a token that allows you to continue fetching results from a paginated API. If the continuation token is not provided or is empty, the API will return the first page of results.","in":"query","schema":{"type":"string"},"required":false},{"name":"limit","description":"The number of results that the API should return.","in":"query","schema":{"type":"number","default":25,"maximum":100},"required":false},{"in":"query","name":"externalId","required":false,"schema":{"type":"string"},"description":"Just get the conversations of the user identified by an external id"},{"in":"query","name":"includeMessages","required":false,"schema":{"type":"boolean"},"description":"Include messages in the response"}],"operationId":"listConversations","responses":{"200":{"description":"List the conversations for your organization","content":{"application/json":{"schema":{"type":"object","required":["results"],"properties":{"results":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/Conversation"},{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/Message"}}}}]}},"continuationToken":{"type":"string"}}}}}}},"security":[{"apiKey":[]}]},"post":{"tags":["Conversations"],"operationId":"createConversation","description":"Create a conversation","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"description":"A name for the conversation","default":"New Conversation","type":"string"},"personId":{"title":"Person ID","description":"The Luminaries AI Person ID","type":"string"},"person":{"title":"Person Details","description":"The details of the person","type":"object","properties":{"externalId":{"description":"Luminaries AI will use your organizations external identifier for deduplication. If none is provided, it will be left empty","title":"Person ID","type":"string"},"givenName":{"description":"The given name of the person","title":"Given Name","type":"string"},"familyName":{"description":"The family name of the person","title":"Family Name","type":"string"}}},"botId":{"description":"The id of the bot that should respond","type":"string"},"versionId":{"description":"The id of the version of the bot that should respond","type":"string"},"uniqueId":{"description":"If you have an external unique id for the conversation","type":"string"}},"required":["botId"]}}}},"responses":{"200":{"description":"Conversation created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conversation"}}}}},"security":[{"apiKey":[]}]}},"/api/v2/engagement-series":{},"/api/v2/flow-executions/{executionId}/states":{"parameters":[{"name":"executionId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/flows/{flowId}/executions":{"parameters":[{"name":"flowId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/flows/{flowId}/versions":{"parameters":[{"name":"flowId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/flows":{},"/api/v2/person-groups/{groupId}/people":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/person-groups":{},"/api/v2/person-record-schemas/{schemaId}/records":{"parameters":[{"name":"schemaId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/person-search":{},"/api/v2/person-record-schemas":{},"/api/v2/persons/{personId}/conversations":{"parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/persons/{personId}/groups":{"parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/persons/{personId}/records":{"parameters":[{"name":"personId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/persons":{},"/api/v2/secrets":{},"/api/v2/content-groups/{groupId}/content/{contentId}/search":{"parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"contentId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/conversations/{conversationId}/messages":{"post":{"tags":["Conversations"],"operationId":"createMessage","description":"Create a message in a conversation","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMessageInput"}}}},"responses":{"200":{"description":"The newly created message and it's corresponding response message if applicable","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Message"}}}}}},"security":[{"apiKey":[]}]},"get":{"tags":["Conversations"],"parameters":[{"name":"continuationToken","description":"The continuationToken is a token that allows you to continue fetching results from a paginated API. If the continuation token is not provided or is empty, the API will return the first page of results.","in":"query","schema":{"type":"string"},"required":false},{"name":"limit","description":"The number of results that the API should return.","in":"query","schema":{"type":"number","default":25,"maximum":100},"required":false}],"operationId":"listConversationMessages","description":"Paginate messages in a conversation. Ordered in reverse chronological order.","responses":{"200":{"description":"test","content":{"application/json":{"schema":{"type":"object","required":["results"],"properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/Message"}},"continuationToken":{"type":"string"}}}}}}},"security":[{"apiKey":[]}]},"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}}]},"/api/v2/conversations/{conversationId}/stream-message":{"post":{"tags":["Conversations"],"operationId":"streamMessage","description":"Create a message in a conversation and stream it's response","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateStreamingMessageInput"}}}},"responses":{"200":{"description":"Successful response","content":{"text/event-stream":{"schema":{"oneOf":[{"type":"object","title":"Message Start","properties":{"type":{"type":"string","enum":["message-start"]},"id":{"type":"string","description":"Message ID"},"userId":{"type":"string","description":"User ID"},"userType":{"type":"string","description":"User type"},"organizationId":{"type":"string","description":"Organization ID"},"createdAt":{"type":"string","format":"date-time","description":"Creation timestamp"},"status":{"type":"string","description":"Message status"}},"required":["type","id","userId","userType","organizationId","createdAt","status"]},{"type":"object","title":"Content Delta","properties":{"type":{"type":"string","enum":["content-delta"]},"delta":{"type":"string","description":"Content delta"}},"required":["type","delta"]},{"type":"object","title":"Message Stop","properties":{"type":{"type":"string","enum":["message-stop"]}},"required":["type"]}]},"examples":{"message-start":{"value":{"type":"message-start","id":"3ed9c215-1f21-48ad-8c28-570eb5e8dec7","userId":"1c22fb58-a5c4-410b-b32d-05d0555f3d5b","userType":"bot","organizationId":"fac95c8a-6c79-4926-b85b-457cf98aef79","createdAt":"2023-04-08T10:30:00Z","status":"PROCESSING"}},"content-delta":{"value":{"type":"content-delta","delta":"Hello, world!"}},"message-stop":{"value":{"type":"message-stop"}}}}}},"404":{"description":"Message not found"}},"security":[{"apiKey":[]}]},"parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"string"}}]}}}